<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <link rel="stylesheet" href="/public/css/poole.min.css">
  <link rel="stylesheet" href="/public/css/syntax.min.css">
  <link rel="stylesheet" href="/public/css/lanyon.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  <link rel="shortcut icon" href="/public/img/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.url}}/atom.xml">
  {% if page.tags %}<meta name="keywords" content="{{page.tags | join: ','}}" />{% else %}<meta name="keywords" content="{{site.keywords | join: ','}}" />{% endif %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="http://www.gravatar.com/avatar/dcc624668fb08816dad3ed2ed5797769.jpg" />
  {% if page.type == "post" %}
  <link rel="author" href="{{site.author.gplus}}" />
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="blog" />
  {% endif %}
</head>
