<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {% if page.type == "post" %}<script type="application/ld+json">{"@context":"http://schema.org","@type":"Article","name":"{{ page.title }}","url":"{{ site.url }}{{ page.url }}","datePublished":"{{ page.date | date: '%Y-%m-%d' }}","author":{"@type":"Person","name":"Marcin Kitowicz","url":"https://plus.google.com/u/0/+MarcinKitowicz/"}}</script>{% endif %}
  <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <link rel="stylesheet" href="/public/css/poole.min.css">
  <link rel="stylesheet" href="/public/css/syntax.min.css">
  <link rel="stylesheet" href="/public/css/lanyon.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  <link rel="shortcut icon" href="/public/img/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.url}}/atom.xml">
  {% if page.tags %}<meta name="keywords" content="{{page.tags | join: ','}}" />{% else %}<meta name="keywords" content="{{site.keywords | join: ','}}" />{% endif %}
  <meta property="og:locale" content="pl_PL" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{site.url}}{{page.url  | remove: "index.html"}}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="http://www.gravatar.com/avatar/dcc624668fb08816dad3ed2ed5797769.jpg" />
  {% if page.type == "post" %}
  <link rel="author" href="{{site.author.gplus}}" />
  <meta property="og:type" content="article" />
  {% else %}<meta property="og:type" content="blog" />
    {% if paginator.next_page %}<link rel="next" href="{{site.url}}/page{{paginator.next_page}}" />{% endif %}
    {% if paginator.previous_page %}<link rel="prev" href="{{site.url}}{% if paginator.page == 2 %}/{% else %}/page{{paginator.previous_page}}{% endif %}" />{% endif %}
    {% if paginator.page > 1 %}<meta name="robots" content="noindex,follow"/>{% endif %}
  {% endif %}
  <link rel="canonical" href="{{site.url}}{{page.url | remove: "index.html"}}" />
</head>
